@{
    ViewData["Title"] = "Blogs";
}
@using BlogApp.Models
@model BlogIndexModel

<h1>Blogs</h1>

@Html.ActionLink("Add new blog", "Create", "Blog", null, new
{
    @class = "btn btn-info btn-lg"
})

@foreach (BlogModel blog in Model.Blogs)
{
    <div class="jumbotron">
        <h1>@blog.Title</h1>
        <p>By : @blog.Author</p>
        <p>
            @Html.ActionLink("View", "View", "Blog", new
            {
                id = @blog.Id
            }, new
            {
                @class = "btn btn-lg"
            })
            @Html.ActionLink("Edit", "Edit", "Blog", new
            {
                id = @blog.Id
            }, new
            {
                @class = "btn btn-info btn-lg"
            })
            @Html.ActionLink("Remove", "Remove", "Blog", new
            {
                id = @blog.Id
            }, new
            {
                @class = "btn btn-danger btn-lg"
            })
        </p>
    </div>
}